.features {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  .feature-header {
    margin-bottom: 1%;

    #where-input {
      width: 200px;
      text-align: center;
    }
  }
  .recent-features {
    padding: 1%;
    .features-content-one {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      max-width: 100%;

      .feature1,
      .feature2,
      .feature3 {
        img {
          max-width: 90%;
        }
        h2,
        p {
          margin: 0 auto;
          max-width: 90%;
          text-align: center;
        }
        h2 {
          font-size: larger;
        }
      }
    }
    .features-content-two {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      max-width: 100%;
      padding: 3%;

      .feature4,
      .feature5,
      .feature6 {
        img {
          max-width: 90%;
        }
        h2,
        p {
          margin: 0 auto;
          max-width: 90%;
          text-align: center;
        }
        h2 {
          font-size: larger;
        }
      }
    }
  }
}
